<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>银行个人金融产品管理数据库</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/DataTables/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="../static/DataTables/Buttons-1.5.4/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../static/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/fabric.min.js"></script>
    <script type="text/javascript" src="../static/DataTables/datatables.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
</head>
<body>
<div class="navbar navbar-static-top navbar-inverse">
    <a class="navbar-brand" href="#">银行个人金融产品管理数据库</a>
    <a class="navbar-brand pull-right" href="#"></a>
</div>
<div class="container-fluid">
    <ul class="nav nav-tabs" id="myTab">
        <li id="tab-1" class="active">
            <a href="#tables" data-toggle="tab">查询</a>
        </li>
        <li id="tab-2">
            <a href="#opt-deposit" data-toggle="tab">存款</a>
        </li>
        <li id="tab-3">
            <a href="#opt-withdraw" data-toggle="tab">取款</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tables">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">表名</span>
                        <input type="text" id="table-name-to-select" class="form-control">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6" style="padding-left: 0px">
                    <button class="btn btn-success" id="btn-select-table">确认</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 id="table-name">表名</h2>
                        </div>
                        <div id="table-container" class="x_content">
                            <table id="table-display" class="display" style="width:100%">
                                <thead id="table-head">
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                                </thead>
                                <tbody id="table-body">
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>2011/07/25</td>
                                    <td>$170,750</td>
                                </tr>
                                <tr>
                                    <td>Ashton Cox</td>
                                    <td>Junior Technical Author</td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                    <td>2009/01/12</td>
                                    <td>$86,000</td>
                                </tr>
                                <tr>
                                    <td>Cedric Kelly</td>
                                    <td>Senior Javascript Developer</td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                    <td>2012/03/29</td>
                                    <td>$433,060</td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>$162,700</td>
                                </tr>
                                <tr>
                                    <td>Brielle Williamson</td>
                                    <td>Integration Specialist</td>
                                    <td>New York</td>
                                    <td>61</td>
                                    <td>2012/12/02</td>
                                    <td>$372,000</td>
                                </tr>
                                <tr>
                                    <td>Herrod Chandler</td>
                                    <td>Sales Assistant</td>
                                    <td>San Francisco</td>
                                    <td>59</td>
                                    <td>2012/08/06</td>
                                    <td>$137,500</td>
                                </tr>
                                <tr>
                                    <td>Rhona Davidson</td>
                                    <td>Integration Specialist</td>
                                    <td>Tokyo</td>
                                    <td>55</td>
                                    <td>2010/10/14</td>
                                    <td>$327,900</td>
                                </tr>
                                <tr>
                                    <td>Colleen Hurst</td>
                                    <td>Javascript Developer</td>
                                    <td>San Francisco</td>
                                    <td>39</td>
                                    <td>2009/09/15</td>
                                    <td>$205,500</td>
                                </tr>
                                </tbody>
                                <tfoot id="table-foot">
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="opt-deposit">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <h3>存款</h3>
                    <form class="bs-example bs-example-form" role="form">
                        <div class="input-group">
                            <span class="input-group-addon">储户编号</span>
                            <input type="text" id="deposit_user_id" class="form-control">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">账户</span>
                            <input type="text" id="deposit_account_id" class="form-control">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">金额</span>
                            <input type="text" id="deposit_quantity" class="form-control">
                        </div>
                    </form>
                    <div class="dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle" id="dropdown-currency_type"
                                data-toggle="dropdown">
                            币种
                            <span class="caret"></span>
                        </button>
                        <div class="hidden-value" id="deposit_currency_type"></div>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-currency_type">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">RMB</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">USD</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">EUR</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">JPY</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">GBP</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">HKD</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle" id="dropdown-deposit_type"
                                data-toggle="dropdown">
                            存款类型
                            <span class="caret"></span>
                        </button>
                        <div class="hidden-value" id="deposit_deposit_type"></div>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-deposit_type">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">活期</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">定期三个月</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">定期六个月</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">定期一年</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">定期两年</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">定期三年</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">定期五年</a>
                            </li>
                        </ul>
                    </div>
                    <button class="btn btn-info" id="btn-deposit">存款</button>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="opt-withdraw">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <h3>取款</h3>
                    <form class="bs-example bs-example-form" role="form">
                        <div class="input-group">
                            <span class="input-group-addon">储户编号</span>
                            <input type="text" id="withdraw_user_id" class="form-control">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">账户</span>
                            <input type="text" id="withdraw_account_id" class="form-control">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">存款编号</span>
                            <input type="text" id="withdraw_deposit_id" class="form-control">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">金额</span>
                            <input type="text" id="withdraw_quantity" class="form-control">
                        </div>
                    </form>
                    <div class="dropdown"></div>
                    <button class="btn btn-info" id="btn-withdraw">取款</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>